<div class="category">
        <ul> 
    
    
    
        <li id="category_1" class="firstchild">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:1,t:1 _click(CategoryCafe|SelectNode|1) _stopDefault">게임</a>
            <button class="_click(CategoryCafe|ToggleNode|1) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_2" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:2,t:1 _click(CategoryCafe|SelectNode|2) _stopDefault">만화/애니메이션</a>
            <button class="_click(CategoryCafe|ToggleNode|2) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_3" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:3,t:1 _click(CategoryCafe|SelectNode|3) _stopDefault">방송/연예</a>
            <button class="_click(CategoryCafe|ToggleNode|3) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_4" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:4,t:1 _click(CategoryCafe|SelectNode|4) _stopDefault">문화/예술</a>
            <button class="_click(CategoryCafe|ToggleNode|4) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_5" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:5,t:1 _click(CategoryCafe|SelectNode|5) _stopDefault">영화</a>
            <button class="_click(CategoryCafe|ToggleNode|5) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_6" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:6,t:1 _click(CategoryCafe|SelectNode|6) _stopDefault">음악</a>
            <button class="_click(CategoryCafe|ToggleNode|6) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_7" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:7,t:1 _click(CategoryCafe|SelectNode|7) _stopDefault">팬카페</a>
            <button class="_click(CategoryCafe|ToggleNode|7) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_8" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:8,t:1 _click(CategoryCafe|SelectNode|8) _stopDefault">여행</a>
            <button class="_click(CategoryCafe|ToggleNode|8) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_9" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:9,t:1 _click(CategoryCafe|SelectNode|9) _stopDefault">스포츠/레저</a>
            <button class="_click(CategoryCafe|ToggleNode|9) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_10" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:10,t:1 _click(CategoryCafe|SelectNode|10) _stopDefault">애완동물</a>
            <button class="_click(CategoryCafe|ToggleNode|10) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_11" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:11,t:1 _click(CategoryCafe|SelectNode|11) _stopDefault">취미</a>
            <button class="_click(CategoryCafe|ToggleNode|11) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_12" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:12,t:1 _click(CategoryCafe|SelectNode|12) _stopDefault">생활</a>
            <button class="_click(CategoryCafe|ToggleNode|12) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_13" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:13,t:1 _click(CategoryCafe|SelectNode|13) _stopDefault">패션/미용</a>
            <button class="_click(CategoryCafe|ToggleNode|13) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_14" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:14,t:1 _click(CategoryCafe|SelectNode|14) _stopDefault">건강/다이어트</a>
            <button class="_click(CategoryCafe|ToggleNode|14) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_15" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:15,t:1 _click(CategoryCafe|SelectNode|15) _stopDefault">가족/육아</a>
            <button class="_click(CategoryCafe|ToggleNode|15) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
        <li id="category_16" class="select ">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:16,t:1 _click(CategoryCafe|SelectNode|16) _stopDefault">컴퓨터/통신</a>
            <button class="_click(CategoryCafe|ToggleNode|16) _stopDefault">열기</button>
            </div>
            
            <ul></ul>
            
        </li>
    
        
    
    
    
        <li id="category_17" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:17,t:1 _click(CategoryCafe|SelectNode|17) _stopDefault">교육</a>
            <button class="_click(CategoryCafe|ToggleNode|17) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_18" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:18,t:1 _click(CategoryCafe|SelectNode|18) _stopDefault">외국어</a>
            <button class="_click(CategoryCafe|ToggleNode|18) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_19" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:19,t:1 _click(CategoryCafe|SelectNode|19) _stopDefault">인문/과학</a>
            <button class="_click(CategoryCafe|ToggleNode|19) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_20" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:20,t:1 _click(CategoryCafe|SelectNode|20) _stopDefault">경제/금융</a>
            <button class="_click(CategoryCafe|ToggleNode|20) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_21" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:21,t:1 _click(CategoryCafe|SelectNode|21) _stopDefault">정치/사회</a>
            <button class="_click(CategoryCafe|ToggleNode|21) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_22" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:22,t:1 _click(CategoryCafe|SelectNode|22) _stopDefault">문학/창작</a>
            <button class="_click(CategoryCafe|ToggleNode|22) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_23" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:23,t:1 _click(CategoryCafe|SelectNode|23) _stopDefault">동창/동문</a>
            <button class="_click(CategoryCafe|ToggleNode|23) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_24" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:24,t:1 _click(CategoryCafe|SelectNode|24) _stopDefault">친목/모임</a>
            <button class="_click(CategoryCafe|ToggleNode|24) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        
    
    
    
        <li id="category_25" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:25,t:1 _click(CategoryCafe|SelectNode|25) _stopDefault">종교/봉사</a>
            <button class="_click(CategoryCafe|ToggleNode|25) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        <li id="category_26" class="">
            <div>
            <a href="#" class="N=a:cnt_thm.dir1,i:26,t:1 _click(CategoryCafe|SelectNode|26) _stopDefault">쥬니버</a>
            <button class="_click(CategoryCafe|ToggleNode|26) _stopDefault">열기</button>
            </div> 
            
            <ul></ul>
            
        </li>       
        </ul>
        <div class="btn_allview">
            <a href="#" class="_click(CategoryCafe|ShowTotalView|1) _stopDefault N=a:cnt_thm.dirmore,t:1" title="디렉토리 전체보기">전체보기</a>
        </div>
</div> 
       
<div class="category_list">
  <div class="tit_area">            
    <h3>컴퓨터/통신</h3> 
  </div> 

  <div id="CategoryCafeHideArea">
    <ul id="ListArea" class="list ranking2"  style="display:block;"></ul> 
          
    
    <div id="PageArea" class="more_view" style="display:block;"> 
      <a href="#" class="btn_view N=a:cnt_thm.morecafe,t:1 _click(CategoryCafe|ListMore) _stopDefault">카페리스트 더보기</a>
      <a href="#" class="btn_up _click(CategoryCafe|FocusTop) _stopDefault N=a:cnt_thm.top">위로</a> 
    </div>
  </div>
        
</div>

<script>
$(document).ready(function(){
  $.ajax({
    type: "GET",
    url: "http://localhost:9003/cafe/list"
  }).success(function(data) {
    console.log(data.length);
    for (var i = 0; i < data.length; i++) {
        var cafe = data[i];
        console.log(cafe);
        $("#ListArea").append('<li class="fc"><h5><a class="ellipsis" href="http://cafe.naver.com/appleiphone" target="_blank" style="width:415px">' + cafe.name + '</a></h5><p class="ellipsis" style="width:415px;">' + cafe.description + '</p> <dl class="option"> <dt class="since">since</dt> <dd class="since">' + cafe.createdAt.year + '.' + cafe.createdAt.monthValue + '.' +  cafe.createdAt.dayOfMonth + '</dd></dl><dl class="count"><dt class="member">회원수</dt><dd class="member">1,399,529</dd><dt class="board">게시글</dt><dd class="board">2,027,235</dd></dl></li>');
    }
  });
});
</script>