<div id="header">
    <div id="gnbMenu" class="menu">
        <ul>
            <li class="lnb1 on"><a href="http://section.cafe.naver.com" class="N=a:LNB.home">카페홈</a></li>
            <li class="lnb2 "><a href="/SectionCafeStoryList.nhn" class="N=a:LNB.sto">카페스토리</a></li>
            <li class="lnb3 "><a href="RandomPowerCafeList.nhn" class="N=a:LNB.top">대표카페</a></li>
            <li class="lnb4 "><a href="/CafeRankingList.nhn" class="N=a:LNB.rnk">랭킹</a></li>
            <li class="lnb5 "><a href="/CafeSupport.nhn" class="N=a:LNB.spt">카페지원센터</a></li>
            <li class="lnb8 "><a href="/StarCafeList.nhn" class="N=a:LNB.star">인기팬카페</a></li>
        </ul>
    </div>
</div>