<div id="header">
  <div id="gnbMenu" class="menu">
    <ul>
      <li class="lnb1 on"><a href="http://section.cafe.naver.com">카페홈</a></li>
      <li class="lnb2 "><a href="/SectionCafeStoryList.nhn">카페스토리</a></li>
      <li class="lnb3 "><a href="/RandomPowerCafeList.nhn">대표카페</a></li>
      <li class="lnb4 "><a href="/CafeRankingList.nhn">랭킹</a></li>
      <li class="lnb5 "><a href="/CafeSupport.nhn">카페지원센터</a></li>
      <li class="lnb8 "><a href="/StarCafeList.nhn">인기팬카페</a></li>
    </ul>
  </div>
</div>