<html lang="ko">
<head>
  <title>Cafe Next</title> 
  <link rel="stylesheet" href="/css/section.css" type="text/css">
  <link rel="stylesheet" href="/css/Layout.css" type="text/css">
  <script type="text/javascript" src="/js/jquery-2.1.1.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/js/jquery-dateFormat.min.js" charset="utf-8"></script>
</head>

<body >
<div id="wrap"> 

  #parse("tiles/section_header.vm")

  <div id="container" class="main">
    <div id="content">  
        #parse("tiles/cafe_create_form.vm")      
    </div>
        
    #parse("tiles/aside.vm")
  
  </div>
  
  #parse("tiles/section_footer.vm")
  
</div>
</body>

</html>