<div class="section_create">
    <div class="create">
        <h2 class="blind">카페 만들기</h2>
        <p class="blind">나와 같은 관심사를 가진 멤버를 모집하고 열심히 운영하여 카페를 성장시켜보세요.</p>
    </div>

    <form name="frm" method="post" action="/cafe/create">
    <table cellspacing="0" border="1" class="cafe_input">
        <caption><span class="blind">카페 만들기 입력 양식</span></caption>
        <colgroup><col width="114" ></col><col width="545"></col></colgroup>
        <tbody>
            <tr>
                <th scope="row" class="th_name"><div class="stit">카페이름</div></th>
                <td>
                    <div class="input_area">
                        <input type="text" name="name" title="카페이름" value="" class="input_txt" style="width:515px;" maxlength="120" />
                        <span class="byte"><strong>0</strong> / 60 bytes</span>
                    </div>
                    <p class="txt">카페주제와 어울리는 이름으로 입력하면 많은 사람들이 카페를 찾기가 쉬워집니다.</p>
                </td>
            </tr>
            <tr>
                <th scope="row" class="th_addr"><div class="stit">카페주소</div></th>
                <td>
                    <div class="input_area">
                        <label for="cafe_addr">http://cafe.naver.com/</label>
                        <input type="text" name="domain" id="cafe_addr" title="카페주소" class="input_txt" style="width:381px;" maxlength="40"/>
                        <span class="byte"><strong>0</strong> / 20 bytes</span>
                    </div>
                </td>
            </tr>
            <tr id="directoryArea">
                <th scope="row" class="th_dir"><div class="stit">디렉토리</div></th>
                <td id="directoryAreaTd">
                    <div class="rel">
                        <select name="categoryId" id="group1" style="width:240px" class="_change(CafeCreate|LoadSubCategory|1)" title="대분류 선택">
                            <option value="-1">분류 선택</option>
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">Category Name</option>
                        </select>
                        <!--
                        <select name="club.themeDir2Id" style="width:240px" id="subGroup1" title="소분류 선택">>
                            <option value="-1">소분류 선택</option>                            
                        </select>
                        -->
                    </div>
                </td>
            </tr>
            <tr id="introductionArea">
                <th scope="row" class="th_dsc"><div class="stit">카페설명</div></th>
                <td>
                    <div class="input_area">
                        <textarea name="description" cols="30" rows="5" title="카페설명" class="input_txt3 __byte(1~100) __notnull" maxlength="200"></textarea><!-- [D]마우스클릭시 클래스 추가 on -->
                        <span class="byte"><strong>0</strong> / 100 bytes</span>
                    </div>
                    <p class="txt">입력한 내용이 카페 메인, 검색결과 등의 카페리스트에 반영됩니다.</p>
                    <p class="txt" style="display:none" id="MSG_CONTENT"><strong>금칙어가 포함되어 있어 사용할 수 없습니다.</strong></p>
                </td>
            </tr>
        </tbody>
    </table>
                        
    <div class="btn_area">
        <button type="submit"><image src="http://cafeimgs.naver.net/img/section/btn_cfm3.gif" width="74" height="33" alt="확인"/></button>
        <button type="reset"><img src="http://cafeimgs.naver.net/img/section/btn_cncl2.gif" width="74" height="33" alt="취소"/></button>
        
        <!--
        <input class="_click(CafeCreate|Submit) _stopDefault" id="elSubmitBtn" type="image" src="http://cafeimgs.naver.net/img/section/btn_cfm3.gif" width="74" height="33" alt="확인" />
        <a href="/" class="_click(CafeCreate|Cancel) _stopDefault"><img src="http://cafeimgs.naver.net/img/section/btn_cncl2.gif" width="74" height="33" alt="취소"></a>
        -->
    </div>
    </form>
           
</div>