<div id="aside" class="aside" th:fragment="side">
  <div class="login"> 
    <h2 class="blind"><a id="account_h" name="account_h" href="#account_h">로그인</a></h2>
    <div class="btn_login">
      <div class="bl_inner">
        <a href="https://nid.naver.com/nidlogin.login?url=http://section.cafe.naver.com" class="bl_btn">로그인</a>
        <div class="find_info">
            <a href="https://nid.naver.com/user2/help/idInquiry.nhn?menu=idinquiry" class="btn_id">아이디 찾기</a><span class="vt">|</span><a href="https://nid.naver.com/user2/help/pwInquiry.nhn?menu=pwinquiry" class="btn_pw">비밀번호 찾기</a> 
            <a href="https://nid.naver.com/nidregister.form" class="btn_join">회원가입</a>
        </div>
      </div>
    </div> 
  </div>
  <div class="cafemake">
    <a href="/section/cafe/new"><img src="http://cafeimgs.naver.net/img/section/btn_cafemake_20140509.gif" width="250" height="36" alt="카페 만들기" ></img></a>
  </div>

  <div id="cafeNoticeSideArea" class="notice" >
                <h2><img height="11" width="94" alt="카페서비스 공지사항" src="http://cafeimgs.naver.net/img/section/h_service_notice.gif"></img></h2>
                <ul>

                </ul>
                <a href="/notice" class="btn_more" title="카페서비스 공지사항 더보기">더보기</a>
  </div>
  <div id="cafeSupportSideArea" class="notice">
                <h2><img src="http://cafeimgs.naver.net/img/section/h_center_notice.gif" width="105" height="11" alt="카페지원센터 공지사항"></img></h2>
                <ul>                
                </ul>
                <a href="/support" class="btn_more" target="_blank" title="카페지원센터 공지사항 더보기">더보기</a>
  </div>        
</div>