<div id="cafe-menu">
  <div class="box-g-t"></div>
  <div class="box-g-m">      
    <ul class="cafe-menu-list">
      <li>
        <img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="10" height="11" class="ico-list" alt="">
        <a href="/ArticleList.nhn?search.clubid=10000001&search.boardtype=L" target="cafe_main" class="gm-tcol-c" id="menuLink0">전체글보기</a> 
        <span class="gm-tcol-c p11" style="padding-right:2px;">(<strong>2</strong>)</span>
      </li>
      #foreach ( $board in $cafe.boards )
        <li>
          <img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="10" height="11" class="ico-list" alt="">
          <a href="/CafeTagCloudList.nhn?search.clubId=10000001" class="gm-tcol-c">$board.title</a>
        </li>
      #end
    </ul>
  </div>
  <div class="box-g-b"></div>
</div>