            <div id="main-area" class="fr">
                            <iframe name="cafe_main" id="cafe_main" src="about:blank" width="773" height="100%" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" allowtransparency="true"></iframe>
                            
            </div>