<div th:fragment="category_cafe">
<div class="category">
  <ul> 
    <li th:each="category : ${categories}" th:id="'category_' + ${category.id}" class="firstchild">
      <div>
        <a href="javascript:" th:attr="onclick='selectCategory(' + ${category.id} + ',\'' + ${category.name} + '\')'" th:text="${category.name}" >Name</a>
      </div> 
    </li>
  </ul>
</div> 
       
<div class="category_list">
  <div class="tit_area">            
    <h3 th:text="${categories[0].name}">컴퓨터/통신</h3> 
  </div> 

  <div id="CategoryCafeHideArea">
    <ul id="ListArea" class="list ranking2"  style="display:block;"></ul> 
          
    
    <div id="PageArea" class="more_view" style="display:block;"> 
      <a href="#" class="btn_view">카페리스트 더보기</a>
      <a href="#" class="btn_up">위로</a> 
    </div>
  </div>
        
</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
function listCafe(cafes) {
  $("#ListArea").empty();
  
  for (var i = 0; i < cafes.length; i++) {
    var cafe = cafes[i];
    $("#ListArea").append('<li class="fc"><h5><a class="ellipsis" href="http://localhost:8081/' + cafe.domain + '" style="width:415px">' + cafe.name + '</a></h5><p class="ellipsis" style="width:415px;">' + cafe.description + '</p> <dl class="option"> <dt class="since">since</dt> <dd class="since">' + $.format.date(cafe.create_datetime, "yyyy-MM-dd") + '</dd></dl><dl class="count"><dt class="member">회원수</dt><dd class="member">1,399,529</dd><dt class="board">게시글</dt><dd class="board">2,027,235</dd></dl></li>');
  }
}
$(document).ready(function(){
  selectCategory(1, '게임');
});

function selectCategory(category_id, category_name) {
  $("div.category_list div.tit_area h3").text(category_name);
  
  $.ajax({
    type: "GET",
    url: "http://localhost:8083/categories/" + category_id + "/cafes"
  }).success(function(data) {
    listCafe(data);
  });
}
/*]]>*/
</script>